.main-menu .main-menu__list>li+li, .stricky-header .main-menu__list>li+li {
    margin-left: 30px;
}

.main-menu__right {
    gap: 0px;
}

.mobile-nav__content .main-menu__list>li>a, .mobile-nav__content .main-menu__list>li>ul>li>a, .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a {
 justify-content: flex-start;    
 gap:20px
}

.mobile-nav__content .main-menu__list>li>a>button, .mobile-nav__content .main-menu__list>li>ul>li>a>button, .mobile-nav__content .main-menu__list>li>ul>li>ul>li>a>button{
  border: 1px solid red;  
  background: #fff;
  border-radius: 4px;
  color: red;
}

.main-menu .main-menu__list>li:hover>ul, .main-menu .main-menu__list>li>ul>li:hover>ul, .stricky-header .main-menu__list>li:hover>ul, .stricky-header .main-menu__list>li>ul>li:hover>ul{
    transform: translate(10px, 17px);
}

.main-menu .main-menu__list>li, .stricky-header .main-menu__list>li {
    padding-top: 17px;
    padding-bottom: 17px;
}

.main-menu__logo {
    padding: 20px 0;
}

.main-menu__cart-search-nav-sidebar-icon-and-btn-box h5{
    position: relative;
}
.main-menu__cart-search-nav-sidebar-icon-and-btn-box h5::after, .main-slider__text::after{
    content: '';
    bottom: -5px;
    right: 0px;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    /* z-index: 9999; */
}

.main-slider__text {
    position: relative;
    text-transform: uppercase;
    margin-top: 30px;

}
.main-slider__text::after{
    content: '';
    bottom: -5px;
    left: 0px;
    height: 2px;
    width: 500px;
    background-color: white;
    position: absolute;
    
}

.main-menu__cart-search-nav-sidebar-icon-and-btn-box h5:hover::after{
   background-color: var(--eventflow-base);
}

.main-slider .main_swiper {
    background-image: url('../../assets/images/Asset\ 53@2x.png');
    background-size: cover;
}

.main-kuala{
    
}




canvas{display:block}

.main-slider .main_swiper::after, .main-kuala::after{
    content: '';
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.664);
    position: absolute;
}

.main-slider__content h5{
    margin-top: 30px;
}

.services-one__single{
    position: relative;
    min-height: 582px;
    display: flex;
    flex-direction: column;
}

.align__icon__center{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px 0px 15px 33px;
}

.services-one__read-more {
    position: absolute;
    bottom:40px;
    
}

.services-one__text {
    /* text-align: justify; */
    font-size: 1em;
}

.brand-one {
    padding: 30px 0 30px;
}

.patner_sponsor_text {
    display: flex;
    justify-content: end;
    align-items: center;
}

.services-one .section-title__title{
    line-height: 35px;
}

.main-slider__img{
    width: 650px;
    top:-60px
}

.main-slider__content img {
    margin-right: 15px;
}

.testimonials{
    position: relative;
}
.testimonials .section-title__title::after{
    content: '';
    top:-10px;
    left: 0;
    height: 8px;
    width: 50px;
    background-color: var(--eventflow-base);
    position: absolute;
}


.common-button {
    background-color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
    color: var( --e-global-color-secondary );
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary );
    border-radius: 0px 0px 0px 0px;
    padding: 15px 30px 15px 30px;
}

.common-button:hover{
    background-color: var( --e-global-color-a2c694a );
    color: var( --e-global-color-secondary );
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-secondary );
    border-radius: 0px 0px 0px 0px;
}

.services-one .common-button, .blog-one .common-button{
    width: 200px;
}

.buy-ticket span, .common-button>span{
    margin-left:15px;
}

.cta-one, .team-one__content-hover, .event-one__points li .icon, .services-one__icon,.services-one__single::before, .services-one__single:after {
    background: linear-gradient(90deg,  #a78336 0% , var(--eventflow-base) 10%, var(--eventflow-base) 90%,  #a78336 100%);
}


.site-footer__social a:hover, .testimonial-one__quote span, .footer-widget__contact-list li .icon span, .section-title__tagline {
    background: linear-gradient(90deg,  #a78336 0% , var(--eventflow-base) 10%, var(--eventflow-base) 90%,  #a78336 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.blog-one__content{
    margin-right: 0;
}

.event-direction__counter-single {
    width: 130px;
    top: 83px; right: -410px ;
    background-color: #050505;
}

.main-slider .container {
    padding-top: 150px;
}

.services-one__single:hover::before {
    border-image: linear-gradient(90deg,  #a78336 0% , var(--eventflow-base) 10%, var(--eventflow-base) 90%,  #a78336 100%);
}

.main-slider .swiper-slide-active .main-slider__title {
    font-size: 2.5em;
}

.sliding-text__title {
    font-size: 35px;
}

.buy-ticket__img img {
    width: 90%;
}

.buy-ticket__img i{
    color: rgba(255, 156, 8, 0.986);
    font-size: 1.5em;
    transform: translate(0px 15px);
    position: relative;
}

canvas {
    left: -605px;
    top:40px;
    position: relative;
}


.buy-ticket__img img{
    border: none;
}

.testimonial-one__client-img img{
    height: 62px;
    width: 62px;
}

.count-down {
    width: 550px;
    height: 378px;
    margin: auto;
    padding: 20px;
}
.count-down .flipdown {
    margin: auto;
    width: 600px;
    margin-top: 30px;
}
.count-down h1 {
    text-align: center;
    font-weight: 400;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 10px;
}
@media (max-width: 550px) {
    .count-down {
        width: 100%;
        height: 362px;
    }
    .count-down h1 {
        font-size: 2.5em;
    }
}


.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 115px;
    width: 10px;
    height: 10px;
    background-color: #fff !important;
    border-radius: 14%;
  }
  
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 115px;
    width: 10px;
    height: 10px;
    background-color: #fff !important;
    border-radius: 14%;
  }
  
  .flipdown.flipdown__theme-dark .rotor-group-heading:before{
    color:#fff;
  }

  .main-slider__content{
    top: -31px;
  }

  .count-down .flipdown{
    margin-top: 46px;
  }

  .brand_sponsor .brand-one{
    background-color: #9c9292;
  }

  .brand-one .swiper-slide__img{
    opacity: 1;
  }